apiVersion: chaos-mesh.org/v1alpha1
kind: PodChaos
metadata:
  name: backend-pod-kill
  namespace: college-media
spec:
  action: pod-kill
  mode: one
  selector:
    labelSelectors:
      app: backend
  scheduler:
    cron: '@every 5m'
---
apiVersion: chaos-mesh.org/v1alpha1
kind: NetworkChaos
metadata:
  name: redis-latency
  namespace: college-media
spec:
  action: delay
  mode: one
  selector:
    labelSelectors:
      app: redis
  delay:
    latency: '100ms'
    correlation: '100'
    jitter: '0ms'
  duration: '30s'
  scheduler:
    cron: '@every 10m'
---
apiVersion: chaos-mesh.org/v1alpha1
kind: IOChaos
metadata:
  name: mongo-io-delay
  namespace: college-media
spec:
  action: delay
  mode: one
  selector:
    labelSelectors:
      app: mongo
  volumePath: /data/db
  path: /data/db/**/*
  delay: '100ms'
  percent: 50
  duration: '60s'
  scheduler:
    cron: '@every 15m'
